*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
/* reusable styles */
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.img-container{
    text-align: right;
}
.text-center{
    text-align: center;
}
.half-width{
    width: 50%;
}
.btn{
    color: #ffffff;
    padding: 1.0416vw 2.34vw;
    border-radius: 8px;
    background-color: #E55473;
    display: inline-block;
    font-size: 1.0416vw;
}
.title-text{
    color: #272727;
    font-size: 2.083vw;
    margin-bottom: 20px;
}

/* banner section styles */
.main-title{
    font-size: 4.17vw;
    font-weight: 900;
    margin-bottom: 25px;
}
.normal-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 0.9375vw;
    font-weight: 400;
    line-height: 1.7em;
    margin-bottom: 25px;
}
.banner-section{
    background-color: rgba(229, 84, 115, 0.10);
}
.banner-img{
    width: 70%;
    padding-top: 50px ;
}
/* Featured section styles */
.our-featured{
    margin: 60px 0;
}
.featured-text-container{
    width: 500px;
    margin: 20px auto;
}
.feat-box img{
    width: 100%;
    padding: 0 50px;
}
.feat-box-container{
    align-items: stretch;
    display: flex;
    gap: 25px;
}
.feat-box-container > div{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}
.feat-box{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    border-radius: 500px 500px 0 0;
    margin-bottom: 20px;
}
.feat-box-1{
    background-color: #A7216226;
    align-items: end;
}
.feat-box-2{
    background-color: #0597A026;
    align-items: center;
}
.feat-box-3{
    background-color: #477D1126;
    align-items: end;
}
.img-caption{
    color: #272727;
    font-size: 2.083vw;
    text-decoration: underline;
    cursor: pointer;
}
/* Highlight styles */
.highlights-container{
    background-color: #2727270D;
    padding: 40px 0;
}
.highlight-box{
    flex: 1 1 0px;
    padding: 30px;
    flex-direction: column;
}
.highlight-box img{
    max-width: 100%;
    margin-bottom: 20px;
}
.highlight-text{
    font-size: 1.25vw;
    color: #272727CC;
}
/* Hot Deal styles */
.hotdeal-section{
    background-color: #E554730D;
    margin-top: 100px;
}
.brand-color{
    color: #E55473;
}
.signup-btn{
    display: inline-block;
    text-align: center;
}
.hotdeal-text{
    width: 50%;
    margin: 20px auto;
}
.hotdeal-text-container{
    flex-grow: 1;
}
.hotdeal-img-container{
    padding: 80px 0;
}
.hotdeal-img-container img{
    width: 100%;
}
/* Blog style */
.blog-section{
    margin: 100px 0;
}
.blog-item{
    flex: 1 1 0;
    padding: 20px;
    border: 1px solid #00000026;
    border-radius: 8px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.blog-container{
    gap:25px;
    align-items: flex-start;
}
.blog-img img{
    width: 100%;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
}
.blog-title{
    color: #111010;
    font-size: 1.3vw;
    font-weight: 700;
    margin-bottom: 20px;
}
.blog-excerpt{
    color: #272727b3;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5em;
}
.read-more-btn{
    display: inline;
}
/* Instagram styles */
.instagram-section{
    margin: 100px 0;
}
.insta-text{
    width: 40%;
    margin: 20px auto;
}
.insta-item-container{
    gap: 25px;
}
.insta-item{
    flex: 1 1 0;
}
.insta-item img{
    width: 100%;
}
/* Newsletter styles */
.newsletter-container{
    background-image: url(images/news-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    margin-bottom: 100px;
}
#email{
    width: 55%;
    padding: 1.0416vw 2.34vw;
    margin-right: 20px;
    border-radius: 8px;
    border: none;
}
.newsletter-btn{
    border: none;
}
/* footer styles */
footer{
    background-color: #111010;
    padding: 110px 0;
}
.footer-container{
    width: 32.55%;
    margin: 0 auto;
}
.footer-logo{
    color: #ffffff;
    font-size: 2.5vw;
    margin-bottom: 25px;
}
.footer-text{
    color: #FFFFFFE5;
    margin-bottom: 35px;
}
.copyright-text{
    color: #FFFFFF66;
    font-size: 16px;
    font-weight: 400;
}